[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BLCOP"]
	path = BLCOP
	url = https://github.com/mangothecat/blcop
[submodule "bambooHR"]
	path = bambooHR
	url = https://github.com/mangothecat/bamboohr
[submodule "cyclocomp"]
	path = cyclocomp
	url = https://github.com/mangothecat/cyclocomp
[submodule "goodpractice"]
	path = goodpractice
	url = https://github.com/mangothecat/goodpractice
[submodule "mangoTraining"]
	path = mangoTraining
	url = https://github.com/mangothecat/mangotraining
[submodule "radarchart"]
	path = radarchart
	url = https://github.com/mangothecat/radarchart
[submodule "rematch"]
	path = rematch
	url = https://github.com/mangothecat/rematch
[submodule "rmdshower"]
	path = rmdshower
	url = https://github.com/mangothecat/rmdshower
[submodule "rstack"]
	path = rstack
	url = https://github.com/mangothecat/rstack
[submodule "sasMap"]
	path = sasMap
	url = https://github.com/mangothecat/sasmap
[submodule "shinytoastr"]
	path = shinytoastr
	url = https://github.com/mangothecat/shinytoastr
[submodule "simplegraph"]
	path = simplegraph
	url = https://github.com/mangothecat/simplegraph
[submodule "tracer"]
	path = tracer
	url = https://github.com/mangothecat/tracer
