[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BLCOP"]
	path = BLCOP
	url = https://github.com/mangothecat/blcop
[submodule "bambooHR"]
	path = bambooHR
	url = https://github.com/mangothecat/bamboohr
[submodule "goodpractice"]
	path = goodpractice
	url = https://github.com/mangothecat/goodpractice
[submodule "mangoTraining"]
	path = mangoTraining
	url = https://github.com/mangothecat/mangotraining
[submodule "radarchart"]
	path = radarchart
	url = https://github.com/mangothecat/radarchart
[submodule "rmdshower"]
	path = rmdshower
	url = https://github.com/mangothecat/rmdshower
[submodule "sasMap"]
	path = sasMap
	url = https://github.com/mangothecat/sasmap
[submodule "tracer"]
	path = tracer
	url = https://github.com/mangothecat/tracer
