[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bambooHR"]
	path = bambooHR
	url = https://github.com/mangothecat/bamboohr
	shallow = true
	registered = true
[submodule "BLCOP"]
	path = BLCOP
	url = https://github.com/mangothecat/blcop
	shallow = true
	registered = true
[submodule "cyclocomp"]
	path = cyclocomp
	url = https://github.com/mangothecat/cyclocomp
	shallow = true
	registered = true
[submodule "mangoTraining"]
	path = mangoTraining
	url = https://github.com/mangothecat/mangotraining
	shallow = true
	registered = true
[submodule "radarchart"]
	path = radarchart
	url = https://github.com/mangothecat/radarchart
	shallow = true
	registered = true
[submodule "rematch"]
	path = rematch
	url = https://github.com/mangothecat/rematch
	shallow = true
	registered = true
[submodule "rmdshower"]
	path = rmdshower
	url = https://github.com/mangothecat/rmdshower
	shallow = true
	registered = true
[submodule "rstack"]
	path = rstack
	url = https://github.com/mangothecat/rstack
	shallow = true
	registered = true
[submodule "sasMap"]
	path = sasMap
	url = https://github.com/mangothecat/sasmap
	shallow = true
	registered = true
[submodule "shinytoastr"]
	path = shinytoastr
	url = https://github.com/mangothecat/shinytoastr
	shallow = true
	registered = true
[submodule "simplegraph"]
	path = simplegraph
	url = https://github.com/mangothecat/simplegraph
	shallow = true
	registered = true
[submodule "tracer"]
	path = tracer
	url = https://github.com/mangothecat/tracer
	shallow = true
	registered = true
